<div class="row">
  <div class="col-sm-6 col-md-4" >
    <div class="card">
      <div class="card-header">
        <img  src="/assets/img/avatars/3.jpg" width="50" />
        Driver Kamal
        <span class="badge badge-pill badge-sucess float-right">
          <label class="switch switch-3d switch-warning">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
        </span>
      </div>
      <div class="card-body">
        Email :driver1@gmail.com<br> 
        Phone : + 88042352133123415<br>
        Car Model : Toyota corolla<br>
        Car Number Plate : GHA2453123<br>
        NID No : 4625 34535 4667<br>
        LIC NO : 454352 2545623<br>
        Address : Road -9  House -34 Uttara , Sector 2 Zip code -3002<br>
        Location : Uttara<br>
      </div>
    </div>
  
  </div><!--/.col-->
  <div class="col-sm-6 col-md-4" >
    <div class="card">
      <div class="card-header">
        <img  src="/assets/img/avatars/3.jpg" width="50" />
        Driver Kamal
        <span class="badge badge-pill badge-sucess float-right">
          <label class="switch switch-3d switch-warning">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
        </span>
      </div>
      <div class="card-body">
        Email :driver1@gmail.com<br> 
        Phone : + 88042352133123415<br>
        Car Model : Toyota corolla<br>
        Car Number Plate : GHA2453123<br>
        NID No : 4625 34535 4667<br>
        LIC NO : 454352 2545623<br>
        Address : Road -9  House -34 Uttara , Sector 2 Zip code -3002<br>
        Location : Uttara<br>
      </div>
    </div>
  
  </div><!--/.col-->

  <div class="col-sm-6 col-md-4" >
    <div class="card">
      <div class="card-header">
        <img  src="/assets/img/avatars/3.jpg" width="50" />
        Driver Kamal
        <span class="badge badge-pill badge-sucess float-right">
          <label class="switch switch-3d switch-warning">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
        </span>
      </div>
      <div class="card-body">
        Email :driver1@gmail.com<br> 
        Phone : + 88042352133123415<br>
        Car Model : Toyota corolla<br>
        Car Number Plate : GHA2453123<br>
        NID No : 4625 34535 4667<br>
        LIC NO : 454352 2545623<br>
        Address : Road -9  House -34 Uttara , Sector 2 Zip code -3002<br>
        Location : Uttara<br>
      </div>
    </div>
  
  </div><!--/.col-->
  <div class="col-sm-6 col-md-4" >
    <div class="card">
      <div class="card-header">
        <img  src="/assets/img/avatars/3.jpg" width="50" />
        Driver Kamal
        <span class="badge badge-pill badge-sucess float-right">
          <label class="switch switch-3d switch-warning">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
        </span>
      </div>
      <div class="card-body">
        Email :driver1@gmail.com<br> 
        Phone : + 88042352133123415<br>
        Car Model : Toyota corolla<br>
        Car Number Plate : GHA2453123<br>
        NID No : 4625 34535 4667<br>
        LIC NO : 454352 2545623<br>
        Address : Road -9  House -34 Uttara , Sector 2 Zip code -3002<br>
        Location : Uttara<br>
      </div>
    </div>
  
  </div><!--/.col-->

  <div class="col-sm-6 col-md-4" >
    <div class="card">
      <div class="card-header">
        <img  src="/assets/img/avatars/3.jpg" width="50" />
        Driver Kamal
        <span class="badge badge-pill badge-sucess float-right">
          <label class="switch switch-3d switch-warning">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
        </span>
      </div>
      <div class="card-body">
        Email :driver1@gmail.com<br> 
        Phone : + 88042352133123415<br>
        Car Model : Toyota corolla<br>
        Car Number Plate : GHA2453123<br>
        NID No : 4625 34535 4667<br>
        LIC NO : 454352 2545623<br>
        Address : Road -9  House -34 Uttara , Sector 2 Zip code -3002<br>
        Location : Uttara<br>
      </div>
    </div>
  
  </div><!--/.col-->

  <div class="col-sm-6 col-md-4" >
    <div class="card">
      <div class="card-header">
        <img  src="/assets/img/avatars/3.jpg" width="50" />
        Driver Kamal
        <span class="badge badge-pill badge-sucess float-right">
          <label class="switch switch-3d switch-warning">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
        </span>
      </div>
      <div class="card-body">
        Email :driver1@gmail.com<br> 
        Phone : + 88042352133123415<br>
        Car Model : Toyota corolla<br>
        Car Number Plate : GHA2453123<br>
        NID No : 4625 34535 4667<br>
        LIC NO : 454352 2545623<br>
        Address : Road -9  House -34 Uttara , Sector 2 Zip code -3002<br>
        Location : Uttara<br>
      </div>
    </div>
  
  </div><!--/.col-->


</div><!--/.row-->
