<div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
       MR  X
        <div class="card-header-actions">
          <a href="#" target="_blank">
            <small className="text-muted">Today's Order Amount : 500 </small>
            <small className="text-muted">Today's point : 125 </small>
          </a>
        </div>
      </div>
      <div class="card-body"
           (collapsed)="collapsed($event)"
           (expanded)="expanded($event)"
           [collapse]="isCollapsed">
           <div class="col-sm-6 col-lg-3">
              <div class="card text-white bg-info">
                <div class="card-body pb-0">
                  <button type="button" class="btn btn-transparent p-0 float-right">
                    <i class="icon-location-pin"></i>
                  </button>
                  <div class="text-value">450</div>
                  <div>MR Y</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                  <!--<canvas baseChart class="chart"
                  [datasets]="lineChart2Data"
                  [labels]="lineChart2Labels"
                  [options]="lineChart2Options"
                  [colors]="lineChart2Colours"
                  [legend]="lineChart2Legend"
                  [chartType]="lineChart2Type"></canvas>-->
                </div>
              </div>
            </div>
      </div>
      <div class="card-body"
      (collapsed)="collapsed($event)"
      (expanded)="expanded($event)"
      [collapse]="isCollapsed">
      <div class="col-sm-6 col-lg-3">
         <div class="card text-white bg-info">
           <div class="card-body pb-0">
             <button type="button" class="btn btn-transparent p-0 float-right">
               <i class="icon-location-pin"></i>
             </button>
             <div class="text-value">823</div>
             <div>MR Z</div>
           </div>
           <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
             <!--<canvas baseChart class="chart"
             [datasets]="lineChart2Data"
             [labels]="lineChart2Labels"
             [options]="lineChart2Options"
             [colors]="lineChart2Colours"
             [legend]="lineChart2Legend"
             [chartType]="lineChart2Type"></canvas>-->
           </div>
         </div>
       </div>
 </div>
 <div class="card-body"
 (collapsed)="collapsed($event)"
 (expanded)="expanded($event)"
 [collapse]="isCollapsed">
 <div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-info">
      <div class="card-body pb-0">
        <button type="button" class="btn btn-transparent p-0 float-right">
          <i class="icon-location-pin"></i>
        </button>
        <div class="text-value">9823</div>
        <div>Peu</div>
      </div>
      <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
        <!--<canvas baseChart class="chart"
        [datasets]="lineChart2Data"
        [labels]="lineChart2Labels"
        [options]="lineChart2Options"
        [colors]="lineChart2Colours"
        [legend]="lineChart2Legend"
        [chartType]="lineChart2Type"></canvas>-->
      </div>
    </div>
  </div>
</div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary"
                (click)="isCollapsed = !isCollapsed">Toggle collapse
        </button>
      </div>
    </div>
  </div>
  <div class="animated fadeIn">
      <div class="card">
        <div class="card-header">
         MR  Jaman
          <div class="card-header-actions">
            <a href="#" target="_blank">
              <small className="text-muted">Today's Order Amount : 500 </small>
              <small className="text-muted">Today's point : 125 </small>
            </a>
          </div>
        </div>
        <div class="card-body"
             (collapsed)="collapsed($event)"
             (expanded)="expanded($event)"
             [collapse]="isCollapsed">
             <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                  <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
                      <i class="icon-location-pin"></i>
                    </button>
                    <div class="text-value">450</div>
                    <div>MR Y</div>
                  </div>
                  <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                    <!--<canvas baseChart class="chart"
                    [datasets]="lineChart2Data"
                    [labels]="lineChart2Labels"
                    [options]="lineChart2Options"
                    [colors]="lineChart2Colours"
                    [legend]="lineChart2Legend"
                    [chartType]="lineChart2Type"></canvas>-->
                  </div>
                </div>
              </div>
        </div>
        <div class="card-body"
        (collapsed)="collapsed($event)"
        (expanded)="expanded($event)"
        [collapse]="isCollapsed">
        <div class="col-sm-6 col-lg-3">
           <div class="card text-white bg-info">
             <div class="card-body pb-0">
               <button type="button" class="btn btn-transparent p-0 float-right">
                 <i class="icon-location-pin"></i>
               </button>
               <div class="text-value">823</div>
               <div>MR Z</div>
             </div>
             <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
               <!--<canvas baseChart class="chart"
               [datasets]="lineChart2Data"
               [labels]="lineChart2Labels"
               [options]="lineChart2Options"
               [colors]="lineChart2Colours"
               [legend]="lineChart2Legend"
               [chartType]="lineChart2Type"></canvas>-->
             </div>
           </div>
         </div>
        </div>
        <div class="card-body"
        (collapsed)="collapsed($event)"
        (expanded)="expanded($event)"
        [collapse]="isCollapsed">
        <div class="col-sm-6 col-lg-3">
           <div class="card text-white bg-info">
             <div class="card-body pb-0">
               <button type="button" class="btn btn-transparent p-0 float-right">
                 <i class="icon-location-pin"></i>
               </button>
               <div class="text-value">823</div>
               <div>MR Z</div>
             </div>
             <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
               <!--<canvas baseChart class="chart"
               [datasets]="lineChart2Data"
               [labels]="lineChart2Labels"
               [options]="lineChart2Options"
               [colors]="lineChart2Colours"
               [legend]="lineChart2Legend"
               [chartType]="lineChart2Type"></canvas>-->
             </div>
           </div>
         </div>
        </div>
        <div class="card-body"
        (collapsed)="collapsed($event)"
        (expanded)="expanded($event)"
        [collapse]="isCollapsed">
        <div class="col-sm-6 col-lg-3">
           <div class="card text-white bg-info">
             <div class="card-body pb-0">
               <button type="button" class="btn btn-transparent p-0 float-right">
                 <i class="icon-location-pin"></i>
               </button>
               <div class="text-value">823</div>
               <div>MR Z</div>
             </div>
             <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
               <!--<canvas baseChart class="chart"
               [datasets]="lineChart2Data"
               [labels]="lineChart2Labels"
               [options]="lineChart2Options"
               [colors]="lineChart2Colours"
               [legend]="lineChart2Legend"
               [chartType]="lineChart2Type"></canvas>-->
             </div>
           </div>
         </div>
        </div>
   <div class="card-body"
   (collapsed)="collapsed($event)"
   (expanded)="expanded($event)"
   [collapse]="isCollapsed">
   <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button>
          <div class="text-value">9823</div>
          <div>Peu</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <!--<canvas baseChart class="chart"
          [datasets]="lineChart2Data"
          [labels]="lineChart2Labels"
          [options]="lineChart2Options"
          [colors]="lineChart2Colours"
          [legend]="lineChart2Legend"
          [chartType]="lineChart2Type"></canvas>-->
        </div>
      </div>
    </div>
  </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary"
                  (click)="isCollapsed = !isCollapsed">Toggle collapse
          </button>
        </div>
      </div>
 </div>
 <div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
       MR  X
        <div class="card-header-actions">
          <a href="#" target="_blank">
            <small className="text-muted">Today's Order Amount : 500 </small>
            <small className="text-muted">Today's point : 125 </small>
          </a>
        </div>
      </div>
      <div class="card-body"
           (collapsed)="collapsed($event)"
           (expanded)="expanded($event)"
           [collapse]="isCollapsed">
           <div class="col-sm-6 col-lg-3">
              <div class="card text-white bg-info">
                <div class="card-body pb-0">
                  <button type="button" class="btn btn-transparent p-0 float-right">
                    <i class="icon-location-pin"></i>
                  </button>
                  <div class="text-value">450</div>
                  <div>MR Y</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                  <!--<canvas baseChart class="chart"
                  [datasets]="lineChart2Data"
                  [labels]="lineChart2Labels"
                  [options]="lineChart2Options"
                  [colors]="lineChart2Colours"
                  [legend]="lineChart2Legend"
                  [chartType]="lineChart2Type"></canvas>-->
                </div>
              </div>
            </div>
      </div>
      <div class="card-body"
      (collapsed)="collapsed($event)"
      (expanded)="expanded($event)"
      [collapse]="isCollapsed">
      <div class="col-sm-6 col-lg-3">
         <div class="card text-white bg-info">
           <div class="card-body pb-0">
             <button type="button" class="btn btn-transparent p-0 float-right">
               <i class="icon-location-pin"></i>
             </button>
             <div class="text-value">823</div>
             <div>MR Z</div>
           </div>
           <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
             <!--<canvas baseChart class="chart"
             [datasets]="lineChart2Data"
             [labels]="lineChart2Labels"
             [options]="lineChart2Options"
             [colors]="lineChart2Colours"
             [legend]="lineChart2Legend"
             [chartType]="lineChart2Type"></canvas>-->
           </div>
         </div>
       </div>
 </div>
 <div class="card-body"
 (collapsed)="collapsed($event)"
 (expanded)="expanded($event)"
 [collapse]="isCollapsed">
 <div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-info">
      <div class="card-body pb-0">
        <button type="button" class="btn btn-transparent p-0 float-right">
          <i class="icon-location-pin"></i>
        </button>
        <div class="text-value">9823</div>
        <div>Peu</div>
      </div>
      <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
        <!--<canvas baseChart class="chart"
        [datasets]="lineChart2Data"
        [labels]="lineChart2Labels"
        [options]="lineChart2Options"
        [colors]="lineChart2Colours"
        [legend]="lineChart2Legend"
        [chartType]="lineChart2Type"></canvas>-->
      </div>
    </div>
  </div>
</div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary"
                (click)="isCollapsed = !isCollapsed">Toggle collapse
        </button>
      </div>
    </div>
  </div>
  <div class="animated fadeIn">
      <div class="card">
        <div class="card-header">
         MR  X
          <div class="card-header-actions">
            <a href="#" target="_blank">
              <small className="text-muted">Today's Order Amount : 500 </small>
              <small className="text-muted">Today's point : 125 </small>
            </a>
          </div>
        </div>
        <div class="card-body"
             (collapsed)="collapsed($event)"
             (expanded)="expanded($event)"
             [collapse]="isCollapsed">
             <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                  <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
                      <i class="icon-location-pin"></i>
                    </button>
                    <div class="text-value">450</div>
                    <div>MR Y</div>
                  </div>
                  <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                    <!--<canvas baseChart class="chart"
                    [datasets]="lineChart2Data"
                    [labels]="lineChart2Labels"
                    [options]="lineChart2Options"
                    [colors]="lineChart2Colours"
                    [legend]="lineChart2Legend"
                    [chartType]="lineChart2Type"></canvas>-->
                  </div>
                </div>
              </div>
        </div>
        <div class="card-body"
        (collapsed)="collapsed($event)"
        (expanded)="expanded($event)"
        [collapse]="isCollapsed">
        <div class="col-sm-6 col-lg-3">
           <div class="card text-white bg-info">
             <div class="card-body pb-0">
               <button type="button" class="btn btn-transparent p-0 float-right">
                 <i class="icon-location-pin"></i>
               </button>
               <div class="text-value">823</div>
               <div>MR Z</div>
             </div>
             <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
               <!--<canvas baseChart class="chart"
               [datasets]="lineChart2Data"
               [labels]="lineChart2Labels"
               [options]="lineChart2Options"
               [colors]="lineChart2Colours"
               [legend]="lineChart2Legend"
               [chartType]="lineChart2Type"></canvas>-->
             </div>
           </div>
         </div>
   </div>
   <div class="card-body"
   (collapsed)="collapsed($event)"
   (expanded)="expanded($event)"
   [collapse]="isCollapsed">
   <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button>
          <div class="text-value">9823</div>
          <div>Peu</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <!--<canvas baseChart class="chart"
          [datasets]="lineChart2Data"
          [labels]="lineChart2Labels"
          [options]="lineChart2Options"
          [colors]="lineChart2Colours"
          [legend]="lineChart2Legend"
          [chartType]="lineChart2Type"></canvas>-->
        </div>
      </div>
    </div>
  </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary"
                  (click)="isCollapsed = !isCollapsed">Toggle collapse
          </button>
        </div>
      </div>
    </div>
    <div class="animated fadeIn">
        <div class="card">
          <div class="card-header">
           MR  X
            <div class="card-header-actions">
              <a href="#" target="_blank">
                <small className="text-muted">Today's Order Amount : 500 </small>
                <small className="text-muted">Today's point : 125 </small>
              </a>
            </div>
          </div>
          <div class="card-body"
               (collapsed)="collapsed($event)"
               (expanded)="expanded($event)"
               [collapse]="isCollapsed">
               <div class="col-sm-6 col-lg-3">
                  <div class="card text-white bg-info">
                    <div class="card-body pb-0">
                      <button type="button" class="btn btn-transparent p-0 float-right">
                        <i class="icon-location-pin"></i>
                      </button>
                      <div class="text-value">450</div>
                      <div>MR Y</div>
                    </div>
                    <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                      <!--<canvas baseChart class="chart"
                      [datasets]="lineChart2Data"
                      [labels]="lineChart2Labels"
                      [options]="lineChart2Options"
                      [colors]="lineChart2Colours"
                      [legend]="lineChart2Legend"
                      [chartType]="lineChart2Type"></canvas>-->
                    </div>
                  </div>
                </div>
          </div>
          <div class="card-body"
          (collapsed)="collapsed($event)"
          (expanded)="expanded($event)"
          [collapse]="isCollapsed">
          <div class="col-sm-6 col-lg-3">
             <div class="card text-white bg-info">
               <div class="card-body pb-0">
                 <button type="button" class="btn btn-transparent p-0 float-right">
                   <i class="icon-location-pin"></i>
                 </button>
                 <div class="text-value">823</div>
                 <div>MR Z</div>
               </div>
               <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                 <!--<canvas baseChart class="chart"
                 [datasets]="lineChart2Data"
                 [labels]="lineChart2Labels"
                 [options]="lineChart2Options"
                 [colors]="lineChart2Colours"
                 [legend]="lineChart2Legend"
                 [chartType]="lineChart2Type"></canvas>-->
               </div>
             </div>
           </div>
     </div>
     <div class="card-body"
     (collapsed)="collapsed($event)"
     (expanded)="expanded($event)"
     [collapse]="isCollapsed">
     <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-info">
          <div class="card-body pb-0">
            <button type="button" class="btn btn-transparent p-0 float-right">
              <i class="icon-location-pin"></i>
            </button>
            <div class="text-value">9823</div>
            <div>Peu</div>
          </div>
          <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
            <!--<canvas baseChart class="chart"
            [datasets]="lineChart2Data"
            [labels]="lineChart2Labels"
            [options]="lineChart2Options"
            [colors]="lineChart2Colours"
            [legend]="lineChart2Legend"
            [chartType]="lineChart2Type"></canvas>-->
          </div>
        </div>
      </div>
    </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary"
                    (click)="isCollapsed = !isCollapsed">Toggle collapse
            </button>
          </div>
        </div>
      </div>
    

