<div class="card" *ngFor="let c of category">
    <div class="card-header">
      <strong>{{c.category_name}}</strong>
    </div>
    <div class="card-body">
      <div class="row align-items-center" >
          <div class="col-12 col-xl mb-3 mb-xl-0">
              <img src="https://www.foodexpress.com.bd/upload/{{c.photo}}" width="400">
            </div>
            <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
              <p>{{c.category_description}}</p><br>
            </div>
    </div>
  </div>
