<div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Simple Table
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Food Name</th>
                <th>Date </th>
                <th>Restaurant Name</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> Noodles</td>
                <td>2012/01/01</td>
                <td>The red chilli</td>
                <td>
                  <span class="badge badge-success">Confirmed</span>
                </td>
              </tr>
              <tr>
                <td>Pizza</td>
                <td>2012/02/01</td>
                <td>The Cillox</td>
                <td>
                  <span class="badge badge-danger">Cancelled</span>
                </td>
              </tr>
              <tr>
                <td>Burger</td>
                <td>2012/02/01</td>
                <td>Burger Club</td>
                <td>
                  <span class="badge badge-success">Confirmed</span>
                </td>
              </tr>
              <tr>
                <td>Pizza</td>
                <td>2012/03/01</td>
                <td>Pizza  Hat</td>
                <td>
                  <span class="badge badge-warning">Pending</span>
                </td>
              </tr>
              <tr>
                <td>Friderik Dávid</td>
                <td>2012/01/21</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-success">Confirmed</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
