
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
          <div class="form-group">
              <label class="col-form-label" for="appendedInputButtons">Two-button append</label>
              <div class="controls">
                <div class="input-group">
                  <input id="appendedInputButtons" size="16" class="form-control" type="text">
                  <span class="input-group-append">
                    <button class="btn btn-secondary" type="button">Search</button>
                  </span>
                </div>
              </div>
            </div><br>
        <i class="fa fa-align-justify"></i> Today's Order
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="city">City</label>
          <div class="col-md-9">
            <select id="city" name="city" class="form-control" formControlName="city">
              <option value="0">Please select</option>
              <option value="Khulna">Khulna</option>
              <option value="Khulna">Bagura</option>
              <option value="Khulna">Rangpur</option>
              <option value="Khulna">Dhaka</option>
            </select>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Ref#</th>
              <th>	Merchant Name</th>
              <th>Name</th>
              <th>Item </th>
              <th>TransType</th>
              <th>Payment Type</th>
              <th>Total</th>
              <th>Tax</th>
              <th>	Total W/Tax	</th>
              <th>Status</th>
              <th>Platform</th>
              <th>date</th>


            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let o of order">
              <td>{{o.order_id}}</td>
              <td>Vibez Cafe & Restaurant <span class="badge badge-success">New</span></td>
              <td>Sharif Rahman
                  <button type="button" class="badge badge-light" data-toggle="modal" (click)="largeModalProfile2.show()">
                      Profile
                  </button>

                  <div bsModal #largeModalProfile2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">Modal title</h4>
                            <button type="button" class="close" (click)="largeModalProfile2.hide()" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              <!-- <div class="col-sm-6 col-md-4" > -->
                                  <div class="card">
                                    <div class="card-header">
                                      <img  src="/assets/img/avatars/3.jpg" width="50" />
                                      Sharif Rahman
                                      <span class="badge badge-pill badge-sucess float-right">
                                        <label class="switch switch-3d switch-warning">
                                          <input type="checkbox" class="switch-input" checked>
                                          <span class="switch-slider"></span>
                                        </label>
                                      </span>
                                    </div>
                                    <div class="card-body">
                                      Email :rahim@gmail.com<br> 
                                      <!-- <p *ngIf="u.contact">Phone : {{u.contact}}</p> -->
                                      Phone : {{o.client_phone_no}} <br>
                                      Address : Road -12 House -13 GULSHAN -1 ZIP-1209<br>
                                      
                                    </div>
                                  </div>
                                <!-- </div> -->
                                <!--/.col-->
                      
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="largeModalProfile2.hide()">Close</button>
                          
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
              </td>
              <td>Szechuan Platter,Potato Wedges</td>
              <td>delivery</td>
              <td>COD</td>
              <td>	350.00</td>
              <td>0.00</td>
              <td>	410.00</td>
              <td>
                  <span class="badge badge-success">Confirmed</span><br>
                  <button type="button" class="badge badge-light" data-toggle="modal" (click)="largeModal.show()">
                      History
                  </button>
                  <button type="button" class="badge badge-dark" data-toggle="modal" (click)="smallModal.show()">
                       Edit
                  </button>
                  <button type="button" class="badge badge-light" data-toggle="modal" (click)="infoModal.show()">
                      Report
                  </button>

                  <div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">Modal title</h4>
                            <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              <table class="table table-bordered table-striped table-sm">
                                  <thead>
                                    <tr>
                                      <th>Date </th>
              
                                      <th>Status</th>
                                      <th>Reason</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                     
                                      <td>2012/01/01</td>

                                      <td>
                                        <span class="badge badge-warning">Pending</span>
                                      </td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                     
                                        <td>2012/01/01</td>
  
                                        <td>
                                          <span class="badge badge-success">Confirmed</span>
                                        </td>
                                        <td></td>
                                      </tr>
                      
                                
                                
                                 
                           
                                  </tbody>
                                </table>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->


                <div bsModal #smallModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Modal title</h4>
                          <button type="button" class="close" (click)="smallModal.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="city">Status</label>
                                <div class="col-md-9">
                                  <select id="city" name="city" class="form-control" formControlName="city">
                                    <option value="0">Please select</option>
                                    <option value="Khulna">Active</option>
                                    <option value="Khulna">Pending</option>
                                    <option value="Khulna">Cancelled</option>
                                  </select>
                                </div>
                              </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" (click)="smallModal.hide()">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                  </div><!-- /.modal -->

                  <div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-info" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">Modal title</h4>
                            <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <pre>Order Details
                                Name :Rafiquzzaman Lovelu
                                Merchant Name :Bonefish
                                Telephone :01717-671671
                                Address :104, Hotel City Inn Bypass Road Khulna Khulna 9100
                                TRN Type :Delivery
                                Payment Type :COD
                                Reference # :10799
                                TRN Date :Jun 10,2019 19:45:46
                                Delivery Date :Jun 10,2019
                                Delivery Time : 7:42 PM
                                Deliver to :32 Purba Baniakhamar Tootpara Road Khulna Khulna Division
                                Delivery Instruction :
                                Location Name :
                                Contact Number :01712671979
                                1Student Chicken Platter(Package)
                                ৳130.00
                                
                                ৳130.00
                                ----------------------
                                Sub Total     ৳130.00
                                Delivery Fee   ৳50.00
                                --------------------
                                Total৳180.00
                              </pre>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Close</button>
                            <button type="button" class="btn btn-primary" >Print</button>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

                </td>

                <td>mobile</td>

              <td>2012/02/01</td>
             
              <td>Burger</td>
              <td>456 BDT</td>
            </tr>
      


          </tbody>
        </table>
 
      </div>
    </div>
   </div>
</div>


